In [1]:
# Data cleaning means fixing bad data in your data set. Bad data could be:
# - Empty cells: dropna(), fillna()
# - Data in wrong format: to_datetime()
# - Wrong data: loc(), replace()
# - Duplicates: drop_duplicates()

# Pandas is a Python library used for working with data sets.
# It has functions for analyzing, cleaning, exploring, and manipulating data.
# The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

# Import it in your applications by adding the import keyword.
# Pandas is usually imported under the pd alias. In Python alias are an alternate name for referring to the same thing.
# Now the Pandas package can be referred to as pd instead of pandas.
import pandas as pd

In [2]:
# A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
# Here the DataFrame is called df.
# A simple way to store big data sets is to use CSV files (comma separated files).
# CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

# Load a CSV file into a Pandas DataFrame
df = pd.read_csv("homicidios_source.csv")

In [3]:
# Return a tuple representing the dimensionality of the DataFrame.
# First value  = Number of Rows including the header.
# Second value = Number of Columns.
df.shape

(84294, 9)

In [4]:
# Use the method info(), that gives you information about the data set.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84294 entries, 0 to 84293
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DEPARTAMENTO          82354 non-null  object
 1   MUNICIPIO             82354 non-null  object
 2   CODIGO DANE           82354 non-null  float64
 3   ARMAS MEDIOS          82354 non-null  object
 4   FECHA HECHO           82354 non-null  object
 5   GENERO                82354 non-null  object
 6   GRUPO ETARÍO          82354 non-null  object
 7   DESCRIPCIÓN CONDUCTA  84294 non-null  object
 8   CANTIDAD              82354 non-null  float64
dtypes: float64(2), object(7)
memory usage: 5.8+ MB

In [5]:
# Use the drop() method to remove columns that are not needed for analysis 
# Save in a new DataFrame called df_cleaned
df_cleaned = df.drop(columns=["CODIGO DANE", "DESCRIPCIÓN CONDUCTA"])

In [6]:
# Use the method info(), that gives you information about the new data set.
# Deleted columns are no longer displayed
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84294 entries, 0 to 84293
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  82354 non-null  object
 1   MUNICIPIO     82354 non-null  object
 2   ARMAS MEDIOS  82354 non-null  object
 3   FECHA HECHO   82354 non-null  object
 4   GENERO        82354 non-null  object
 5   GRUPO ETARÍO  82354 non-null  object
 6   CANTIDAD      82354 non-null  float64
dtypes: float64(1), object(6)
memory usage: 4.5+ MB

In [7]:
# To rename a column in a pandas DataFrame in Python, you can use the .rename() method
# inplace=True causes the change to be made directly on the DataFrame without having to assign the result to a new variable.

# ARMAS MEDIOS
df_cleaned.rename(columns={'ARMAS MEDIOS': 'ARMAS_MEDIOS'}, inplace=True)

# FECHA HECHO
df_cleaned.rename(columns={'FECHA HECHO': 'FECHA_HECHO'}, inplace=True)

# GRUPO ETARÍO
df_cleaned.rename(columns={'GRUPO ETARÍO': 'GRUPO_ETARIO'}, inplace=True)

# Use the method info(), that gives you information about the new data set.
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84294 entries, 0 to 84293
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  82354 non-null  object
 1   MUNICIPIO     82354 non-null  object
 2   ARMAS_MEDIOS  82354 non-null  object
 3   FECHA_HECHO   82354 non-null  object
 4   GENERO        82354 non-null  object
 5   GRUPO_ETARIO  82354 non-null  object
 6   CANTIDAD      82354 non-null  float64
dtypes: float64(1), object(6)
memory usage: 4.5+ MB

In [8]:
# Use the dropna() method to remove rows with null values.
# Note: By default, the dropna() method returns a new DataFrame, and will not change the original.
# If you want to change the original DataFrame, use the inplace = True argument: df.dropna(inplace = True)

# Use the following line if you want to remove rows with null values ​​for only some columns:
# df_cleaned = df_cleaned.dropna(subset=["DEPARTAMENTO", "MUNICIPIO", "ARMAS MEDIOS", "FECHA HECHO", "GENERO", "GRUPO ETARÍO", "CANTIDAD"])

# Use the following line if you want to remove rows with null values for all columns:
df_cleaned = df_cleaned.dropna()

In [9]:
# Return a tuple representing the dimensionality of the DataFrame.
# First value  = Number of Rows including the header.
# Second value = Number of Columns.
df_cleaned.shape

(82354, 7)

In [10]:
# Get and display the number of deleted rows
rows_before = df.shape[0]
rows_after = df_cleaned.shape[0]

rows_before - rows_after

1940

In [11]:
# Use the method info(), that gives you information about the new data set.
# Deleted columns and and rowswith null values are no longer displayed
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82354 entries, 0 to 82353
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  82354 non-null  object
 1   MUNICIPIO     82354 non-null  object
 2   ARMAS_MEDIOS  82354 non-null  object
 3   FECHA_HECHO   82354 non-null  object
 4   GENERO        82354 non-null  object
 5   GRUPO_ETARIO  82354 non-null  object
 6   CANTIDAD      82354 non-null  float64
dtypes: float64(1), object(6)
memory usage: 5.0+ MB

In [12]:
# Adjusting data types
df_cleaned['DEPARTAMENTO'] = df_cleaned['DEPARTAMENTO'].astype('string')
df_cleaned['MUNICIPIO'] = df_cleaned['MUNICIPIO'].astype('string')
df_cleaned['ARMAS_MEDIOS'] = df_cleaned['ARMAS_MEDIOS'].astype('string')
df_cleaned['GENERO'] = df_cleaned['GENERO'].astype('string')
df_cleaned['GRUPO_ETARIO'] = df_cleaned['GRUPO_ETARIO'].astype('string')
df_cleaned['CANTIDAD'] = df_cleaned['CANTIDAD'].astype('int')

# Show the DataFrame again
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82354 entries, 0 to 82353
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  82354 non-null  string
 1   MUNICIPIO     82354 non-null  string
 2   ARMAS_MEDIOS  82354 non-null  string
 3   FECHA_HECHO   82354 non-null  object
 4   GENERO        82354 non-null  string
 5   GRUPO_ETARIO  82354 non-null  string
 6   CANTIDAD      82354 non-null  int64
dtypes: int64(1), object(1), string(5)
memory usage: 5.0+ MB

In [13]:
# The to_datetime() method try to convert all cells in the FECHA_HECHO column into dates.
# The empty dates and dates with wrong format got a NaT (Not a Time) value, in other words an empty value.
df_cleaned.FECHA_HECHO = pd.to_datetime(df_cleaned.FECHA_HECHO, format="%d/%m/%Y")

In [14]:
# Remove rows with a NULL value in the FECHA_HECHO column
df_cleaned.dropna(subset=["FECHA_HECHO"], inplace = True)

In [15]:
# Check if dates with invalid formats were removed
# In this case all formats are correct
df_cleaned.FECHA_HECHO.describe()

count                            82354
mean     2018-07-18 01:07:26.491973632
min                2010-01-01 00:00:00
25%                2014-12-24 00:00:00
50%                2019-01-01 00:00:00
75%                2022-08-06 00:00:00
max                2024-10-31 00:00:00
Name: FECHA_HECHO, dtype: object

In [16]:
# Get the 8 unique values ​​from the ARMAS_MEDIOS column in alphabetical order
sorted(df_cleaned.ARMAS_MEDIOS.unique())

['BICICLETA',
 'CONTUNDENTES',
 'MOTO',
 'NO REPORTADO',
 'NO REPOTADO',
 'SIN EMPLEO DE ARMAS',
 'TREN',
 'VEHICULO']

In [17]:
# Replace 'NO REPOTADO' by 'NO REPORTADO' in column ARMAS_MEDIOS
df_cleaned.ARMAS_MEDIOS = df_cleaned.ARMAS_MEDIOS.replace("NO REPOTADO", "NO REPORTADO")

In [18]:
# Get the new unique values ​​from the ARMAS_MEDIOS column
sorted(df_cleaned.ARMAS_MEDIOS.unique())

['BICICLETA',
 'CONTUNDENTES',
 'MOTO',
 'NO REPORTADO',
 'SIN EMPLEO DE ARMAS',
 'TREN',
 'VEHICULO']

In [19]:
# Get the 5 unique values ​​from the GENERO column in alphabetical order
sorted(df_cleaned.GENERO.unique())

['FEMENINO', 'MASCULINO', 'NO REPORTA', 'NO REPORTADO', 'NO REPOTADO']

In [20]:
# Replace 'NO REPORTADO' by 'NO REPORTA' in column GENERO
df_cleaned.GENERO = df_cleaned.GENERO.replace("NO REPORTADO", "NO REPORTA")

# Replace 'NO REPOTADO' by 'NO REPORTA' in column GENERO
df_cleaned.GENERO = df_cleaned.GENERO.replace("NO REPOTADO", "NO REPORTA")

In [21]:
# Get the new unique values ​​from the GENERO column
sorted(df_cleaned.GENERO.unique())

['FEMENINO', 'MASCULINO', 'NO REPORTA']

In [22]:
# Get the 5 unique values ​​from the GRUPO_ETARIO column in alphabetical order
sorted(df_cleaned.GRUPO_ETARIO.unique())

['ADOLESCENTES', 'ADULTOS', 'MENORES', 'NO REPORTADO', 'NO REPOTADO']

In [23]:
# Replace 'NO REPOTADO' by 'NO REPORTADO' in column GRUPO_ETARIO
df_cleaned.GRUPO_ETARIO = df_cleaned.GRUPO_ETARIO.replace("NO REPOTADO", "NO REPORTADO")

In [24]:
# Get the new unique values ​​from the GRUPO_ETARIO column
sorted(df_cleaned.GRUPO_ETARIO.unique())

['ADOLESCENTES', 'ADULTOS', 'MENORES', 'NO REPORTADO']

In [25]:
# The drop_duplicates() method remove all duplicates
# subset: Specifies the columns on which to check for duplicates. If not specified, all values ​​in the rows are checked.
# keep: Decides which of the duplicates to keep.
# inplace: If set to True, the DataFrame will be modified directly without the need to reallocate it.
df_cleaned.drop_duplicates(subset=None, keep='first', inplace=True)

In [26]:
# Return a tuple representing the dimensionality of the DataFrame.
# First value  = Number of Rows including the header.
# Second value = Number of Columns.
df_cleaned.shape

(76467, 7)

In [27]:
# Use the method info(), that gives you information about the new data set.
# Deleted columns and and rowswith null values are no longer displayed
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76467 entries, 0 to 82353
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  76467 non-null  string
 1   MUNICIPIO     76467 non-null  string
 2   ARMAS_MEDIOS  76467 non-null  string
 3   FECHA_HECHO   76467 non-null  datetime64[ns]
 4   GENERO        76467 non-null  string
 5   GRUPO_ETARIO  76467 non-null  string
 6   CANTIDAD      76467 non-null  int64
dtypes: datetime64[ns](1), int64(1), string(5)
memory usage: 4.7 MB

In [28]:
# Save the cleaned DataFrame to a CSV file
# index=False to not save indexes as a column
df_cleaned.to_csv("homicidios_clean.csv", index=False)

print("\nEl archivo CSV ha sido guardado.")

El archivo CSV ha sido guardado.